.collapsible {
  width: 320px;
  position: relative;
  margin: auto;
  border-bottom: 1px solid $color-form-medium;

  &__clickable--container {
    display: flex;
    align-items: center;
    .icon {
      width: 21px;
      height: 18px;
      color: $color-accenture;
      line-height: normal;
    }

    .click {
      .mooniconup {
        color: $color-medium-yellow;
        transform: rotate(-70deg);
        &:hover {
          animation: rotation;
          animation-duration: 1.5s;
          animation-iteration-count: 1;
          animation-timing-function: linear;
        }
        @keyframes rotation {
          from {
            transform: rotate(-70deg);
          }
          to {
            transform: rotate(300deg);
          }
        }
      }
    }

    .moonicondown {
      color: $color-medium-yellow;
      transform: rotate(110deg);

      &:hover {
        animation: rotate;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
      }
      @keyframes rotate {
        from {
          transform: rotate(110deg);
        }
        to {
          transform: rotate(460deg);
        }
      }
    }
  }

  &__title {
    color: $color-light-dark;
    text-transform: uppercase;
    font-family: $font-primary;
    font-weight: 600;
    font-size: rem(18);
    margin-left: 12.5px;
    padding: 10px; //RELLENA, COMPARTE
  }
}

//Display JS arrows//
.hidden {
  display: none;
}
