.image-wrapper {
  display: flex;
  left: 0;
  padding: 10px 0;
}
.action {
  text-align: center;
  margin-top: 7px;
  margin-right: 20px;
}
.action__upload-btn {
  width: 140px;
  height: 30px;
  border-radius: 6px;
  text-align: center;
  background-color: $color-accenture;
  font-size: rem(14);
  color: $color-light;
  font-family: $font-primary;
}
.action__hiddenField {
  /* Ocultamos el input de tipo "file" porque no podemos 
      darle los estilos que queremos */
  display: none;
}

.profile__image,
.profile__preview {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #ccc;
}

.profile__preview {
  width: 30px;
  height: 30px;
  margin-top: 7px;
}
