 @import 'variables';
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  
    &__copyright {
      margin-top: 18px;
      margin-bottom: 12px;
      text-align: center;
      font-size: 14px;
      font-family: $font-primary; 
      color: $color-small;
      text-transform: capitalize;
      padding-left: 20px;
    }
    &__logo {
      display: block;
      margin-top: 10px;
      margin-bottom: 20px;
      height: 40px;
      width: 103px;
      padding-right: 20px;
      &--adalab {
        width: 100%;
      }
    }
  }
  
  @media all and (min-width: 768px) {
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      height: 60px;
      &__copyright {
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
      }
      &__logo {
        margin-bottom: 0px;
      }
    }
  }