.header {
  display: flex;
  align-items: center;
  justify-content: center;

  &__logo {
    margin-top: 95px;
    margin-bottom: 35.4px;
    width: 250px;
    height: 63px;

    @include tablet {
      margin-bottom: 31px;
      width: 419px;
      height: 105px;
    }

    & img {
      width: 100%;
    }
  }
}
