@import "variables";
@import "mixins";

.header__card {
  background-color: $color-light;

  &__logo {
    margin-top: 31px;
    margin-bottom: 30px;
    margin-left: 40px;
    width: 201px;
    height: 50px;

    & img {
      width: 100%;
    }
  }
}
